$background-color: #121212;
$accent-color: #1E1E1E;
$divider-color: #292929;
$font-color: #ffffff;
$second-font-color: #8D8D8D;
$button-font-color: #A5EBED;
$linear-gradient: linear-gradient(to right, #562ADA 0%, #74B2F9 100%);